/**
 * General elements
 */

@import url(figure.css);

html {
  background-color: #221B18;
}

body {
  color: #333;
  font-family: arial, sans-serif;
  overflow-y: scroll;
}

h1 {
  font-size: 2.2em;
}

div {
  margin-bottom: 0 !important;
}


/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
  background-color: #E0E0E0;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
  background-color: #BD8F77;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 400px;
  font-size: 48px;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 400px;
  font-style: italic;
  color: #666;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
  background-color: #FFFFFF;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}


/**
 * For articles
 */
.article1 {
  width: 700px;
  border-right: 1px solid #ccc;
  padding-right: 1em;
  margin: 0 auto;
}

.article1 h1,
.article1 h2 {
  border-bottom: 1px solid #ccc;
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
}

.byline p {
  margin-top: 0;
}

/**
 * For comments
 */
.comment-form {
  clear: both;
}

div.mess {
  width: 75%;
  background-color: grey;
}

.mess h4, .mess p {
  margin: 0;
}

.mess p {
  font-size: 0.8em;
}

.mess table {
  width: 100%;
}
.mess td {
  padding: 15px;
  vertical-align: top;
  border-bottom: 1px dotted black;
}

.mess tr {
  text-align: left;
}

.commentHead {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  
}

/**
 * Random
 */
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}